<section class="section about js-anchor-target" id="about">
	<div class="l">
		<div class="section__in about__in">
			<!-- begin about picture -->
			<div class="about__picture">
				<img src="https://placeimg.com/475/475/people" alt="">
			</div>
			<!-- end about picture -->

			<!-- begin about text -->
			<div class="about__text">
				<!-- begin section title -->
				<h2 class="section__title about__title">About me</h2>
				<!-- end section title -->

				<!-- begin section text -->
				<div class="section__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, velit, eius libero eos, voluptatum ex itaque mollitia facere molestiae consequuntur debitis veniam ipsum expedita. Assumenda delectus voluptatibus sunt aperiam quas!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ab?</p>
				</div>
				<!-- begin section text -->

			</div>
			<!-- end about text -->
		</div>
	</div>

</section>