<section class="section contact js-anchor-target" id="contact">
	<div class="l">
		<div class="section__in">
			<!-- begin section title -->
			<h2 class="section__title contact__title">Contact me</h2>
			<!-- end section title -->

			<!-- begin contact form -->
			<div class="contact__form">
				<form action="">
					<div class="contact__form-in">
						<div class="input js-input">
							<input type="text" placeholder="Your name">
						</div>

						<div class="input js-input">
							<input type="email" placeholder="Your email">
						</div>

						<div class="input js-input">
							<textarea name="" id="" placeholder="Your message"></textarea>
						</div>
						<button type="submit" class="button button_black">Send</button>
					</div>
				</form>
			</div>
			<!-- end contact form -->
		</div>
	</div>
</section>