<header class="header">
	<div class="l">
		<div class="header__in">
			<!-- begin header nav -->
			<ul class="header__nav">
				<li class="header__nav-item">
					<a href="#home" class="header__nav-link js-anchor">home</a>
				</li>
				<li class="header__nav-item">
					<a href="#about" class="header__nav-link js-anchor">about</a>
				</li>
				<li class="header__nav-item">
					<a href="#advantages" class="header__nav-link js-anchor">advantages</a>
				</li>
				<li class="header__nav-item">
					<a href="#works" class="header__nav-link js-anchor">my works</a>
				</li>
				<li class="header__nav-item">
					<a href="#contact" class="header__nav-link js-anchor">contact</a>
				</li>
			</ul>
			<!-- end header nav -->
		</div>
	</div>
</header>
