<div class="hero js-anchor-target" style="background-image: url('img/hero-image.jpg')" id="home">
	<div class="l">
		<div class="hero__in">
			<!-- begin hero title -->
			<h1 class="hero__title">Hello, I am Olha</h1>
			<!-- end hero title -->

			<!-- begin hero text -->
			<div class="hero__text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit numquam, harum.</p>
			</div>
			<!-- end hero text -->

			<!-- begin hero button -->
			<div class="hero__button">
				<a href="" class="button button_white">Contact me</a>
			</div>
			<!-- end hero button -->
		</div>
	</div>
</div>